
@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <div class="page-header">
        <h1>Contactez nous <small><strong>YogamListens2U </strong> – Notre future panel en ligne!</small></h1>
    </div>

    <address>
        rejoignez <a href="mailto:yogamlistens2u@yogamhealth.com">yogamlistens2u@yogamhealth.com</a>  et partagez avec nous vos pensées sur:<br />
        <ul class="fa-ul">
            <li><i class="fa-li fa fa-check-square"></i>les soins de santé,</li>
            <li><i class="fa-li fa fa-check-square"></i>vos expériences hospitalières et</li>
            <li><i class="fa-li fa fa-check-square"></i>suggère même le prix que vous aimeriez payer pour des services hospitaliers de haute qualité.</li>

        </ul>
    </address>
    <strong>Merci! Le Nouvel Hôpital sera Votre Hôpital, pour Votre Vie Saine!</strong>
    <address>
        <strong>Ventes:</strong>   <a href="mailto:Support@yogamhealth.com">support@yogamhealth.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@yogamhealth.com">marketing@yogamhealth.com</a>
    </address>
</div>