@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <div class="page-header">
        <h1>Contact Us <small><strong>YogamListens2U </strong> – Our future online panel!</small></h1>
    </div>

    <address>
        Join <a href="mailto:yogamlistens2u@yogamhealth.com">yogamlistens2u@yogamhealth.com</a>  and tell us what you think about:<br />
        <ul class="fa-ul">
            <li><i class="fa-li fa fa-check-square"></i>healthcare,</li>
            <li><i class="fa-li fa fa-check-square"></i>your hospital experiences and</li>
            <li><i class="fa-li fa fa-check-square"></i>even suggest the price you are willing to pay for high quality hospital services.</li>
           
        </ul>
    </address>
    <strong>Thank You! The New Hospital will be your Hospital, for your Healthy Life!</strong>
    <address>
        <strong>Sales:</strong>   <a href="mailto:Support@yogamhealth.com">support@yogamhealth.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@yogamhealth.com">marketing@yogamhealth.com</a>
    </address>
</div>