
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="page-header">
        <h1>FAQ <small>Reponses aux questions frequentes</small></h1>
    </div>

    <div class="row">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#questionOne">
                            Quel est le projet du nouvel hôpital?
                        </a>
                    </h4>
                </div>
                <div id="questionOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        Le nouvel hôpital sera le plus grand hôpital international au Cameroun et en Afrique Centrale avec des solutions innovantes dans sa conception et sa technologie. Conçu selon  les principes d'une architecture bioclimatique, écologique et économique, le nouvel hôpital du Cameroun offrira un environnement sain et confortable.
                        Le nouvel hôpital satisfait les besoins de maîtrise des impacts sur l'environnement.

                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#questionTwo">
                            Quand l'hôpital sera-t-il opérationnel?
                        </a>
                    </h4>
                </div>
                <div id="questionTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        À la fin de 2017 et au début de l'année 2018.
                        Optimise tes chances de devenir l'un des 100 ambassadeurs du nouvel hôpital – Ambassador Be ready !. Enregistres-toi tout de Suite pour recevoir ta carte de membre provisoire ! C’est gratuit !


                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#questionThree">
                            Qu'est-ce que Ambassador Be Ready?
                        </a>
                    </h4>
                </div>
                <div id="questionThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        En vous inscrivant maintenant, vous avez la possibilité de devenir un ambassadeur du nouvel hôpital dès 2018. Nous sommes en effet en train de chercher 100 ambassadeurs du nouvel hôpital qui seront sélectionnés au hasard en 2018 parmi les personnes qui auront enregistré plus de 100 membres dans leur Compte. Cela signifie que vous aurez accès gratuitement à tous les services de l'hôpital pendant un an! Visite Ambulatoire gratuite, Hospitalisation gratuite, Tests de laboratoire gratuits, les procédures d'imagerie gratuites, etc. ... et beaucoup d’autres avantages !
                       </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#questionfour">
                            Quand dois-je payer ma carte de membre?
                        </a>
                    </h4>
                </div>
                <div id="questionfour" class="panel-collapse collapse">
                    <div class="panel-body">
                        Aujourd'hui, votre inscription est gratuite, mais pour avoir accès annuellement aux services du nouvel hôpital quand il va commencer ses activités à la fin de 2017 ou au début de 2018, vous devez payer votre carte de membre définitive au prix journalier cumulé (USD255 - FCFA153.860 par an) 15 jours avant le début des activités cliniques de l’hôpital. Aucune inflation du prix à partir d'aujourd'hui jusqu'à 2018 ! Votre inscription est gratuite aujourd'hui et automatiquement vous avez le droit d’avoir accès aux soins de l'hôpital en 2018 au prix d’aujourd'hui: 0,69 USD par jour. Enregistres-toi aujourd'hui, et tu as immédiatement droit à 50% (USD 0,69 - 420 FCFA par jour) de rabais!
                                </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#questionfive">
                            Combien sera le prix de la carte de membre au début des activités du nouvel hôpital?
                        </a>
                    </h4>
                </div>
                <div id="questionfive" class="panel-collapse collapse">
                    <div class="panel-body">
                        Au début des activités du Nouvel hôpital à la fin de 2017 ou au début de 2018, l’inscription coûtera au nouvel inscrit au moins USD 1,39 soit FCFA840 par personne, par jour. Alors c’est tout à ton avantage de t’inscrire TOUT DE SUITE!
                           </div>
                </div>
            </div>

            @*<div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#questionThree">
                                Do you offer bulk discount?
                            </a>
                        </h4>
                    </div>
                    <div id="questionThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            No.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#questionFour">
                                Can I send you my CV?
                            </a>
                        </h4>
                    </div>
                    <div id="questionFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            Suspendisse tempor accumsan ultricies. Nulla ornare interdum neque et mattis. Pellentesque pharetra lorem libero, ut fermentum enim eleifend ac.
                            Quisque a nunc a massa commodo convallis pellentesque nec leo. In justo orci, porttitor lobortis metus nec, rutrum tristique eros. Sed malesuada tristique
                            fringilla. Sed porta tempus velit et laoreet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut non feugiat enim. Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Duis fermentum, velit elementum ullamcorper facilisis, lectus erat ultrices tortor, ut ornare leo velit at nibh. Mauris
                            egestas pretium nisl, ac tempor est aliquam sit amet. Donec velit nunc, egestas sed tempor et, scelerisque eget nisi.Ut suscipit turpis in quam dapibus,
                            sed aliquet massa aliquam. Cras venenatis non libero vel ornare. Phasellus lacus purus, laoreet et ipsum ac, tristique sagittis nisl. Integer vel tempor
                            est. Donec dignissim mauris quis eros iaculis, a tristique enim viverra. Donec quis tortor posuere, dapibus dolor at, malesuada lorem. Sed volutpat eget
                            urna nec varius.
                        </div>
                    </div>
                </div>*@
        </div>

    </div>
    <div class="alert alert-info">
        <strong>Info!</strong>Pour toute autres questions que vous pouvez avoir, nous vous répondrons personnellement au fur et à mesure à l’adresse email que vous nous aurez communiqué.
    </div>


</div>

