@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="page-header">
        <h1>FAQ <small>Answers to frequently asked questions. </small></h1>
    </div>

    <div class="row">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#questionOne">
                            What is the New Hospital Project?
                        </a>
                    </h4>
                </div>
                <div id="questionOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        The new hospital will be the largest international hospital development in Cameroon.
                        It will deliver a state-of-the-art, world-class regional hospital in Sub-Saharan Africa that will incorporate the latest design and technology solutions, in one of the state’s most environmentally sustainable settings.
                        The new hospital will maximize architectural design to create a tranquil and caring environment for staff, patients and visitors through its integration of architecture, landscaping, health planning and evidence based design.


                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#questionTwo">
                            When the hospital will be opened?
                        </a>
                    </h4>
                </div>
                <div id="questionTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        At the end of 2017 and early of 2018.
                        Don’t miss up the opportunity to become one of the 100 ambassadors of the new hospital – Ambassador Be ready !. Enroll now to receive your temporary membership card! It’s Free !


                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#questionThree">
                            What is Ambassador Be Ready?
                        </a>
                    </h4>
                </div>
                <div id="questionThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        By enrolling now, you have the possibility to become a new hospital’s ambassador by 2018. We’re indeed looking for 100 new hospital ambassadors which will be randomly select in 2018 between people who register in their profile more than 100 members. This means that you will have free access to any hospital’s services for one year! Free Out-Patient Visit , Free In-Patient Admission, Free Laboratory Tests, Free Imaging Procedures, … and many other benefits!
                     </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#questionfour">
                            When do I pay for my Membership card?
                        </a>
                    </h4>
                </div>
                <div id="questionfour" class="panel-collapse collapse">
                    <div class="panel-body">
                        Today Your registration is free, but in order to have access to the clinic services annually when it will start its operations at the end of 2017 or early months of 2018, you must pay your cumulative daily price (USD255 - FCFA153.860 per year) by 15 days before the clinic first day of operations! No inflation of price from today till 2018. Your free enrollment today entitled you automatically to have access to hospital care in 2018 at today price: USD 0,69 per day. By register today, you automatically have a 50% (USD 0,69 – FCFA 420 per day) Discount Voucher!
                          </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#questionfive">
                            How much will be the price of the Membership Card at the beginning of the new hospital operations?
                        </a>
                    </h4>
                </div>
                <div id="questionfive" class="panel-collapse collapse">
                    <div class="panel-body">
                        At the inauguration of the operations by the end of 2017 or early of 2018 the enrollment will cost you at least USD 1,39 – FCFA 840 per person, per day. Then It’s all at your advantage to register NOW!
                                  </div>
                </div>
            </div>

            @*<div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#questionThree">
                            Do you offer bulk discount?
                        </a>
                    </h4>
                </div>
                <div id="questionThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        No.
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#questionFour">
                            Can I send you my CV?
                        </a>
                    </h4>
                </div>
                <div id="questionFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        Suspendisse tempor accumsan ultricies. Nulla ornare interdum neque et mattis. Pellentesque pharetra lorem libero, ut fermentum enim eleifend ac.
                        Quisque a nunc a massa commodo convallis pellentesque nec leo. In justo orci, porttitor lobortis metus nec, rutrum tristique eros. Sed malesuada tristique
                        fringilla. Sed porta tempus velit et laoreet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut non feugiat enim. Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit. Duis fermentum, velit elementum ullamcorper facilisis, lectus erat ultrices tortor, ut ornare leo velit at nibh. Mauris
                        egestas pretium nisl, ac tempor est aliquam sit amet. Donec velit nunc, egestas sed tempor et, scelerisque eget nisi.Ut suscipit turpis in quam dapibus,
                        sed aliquet massa aliquam. Cras venenatis non libero vel ornare. Phasellus lacus purus, laoreet et ipsum ac, tristique sagittis nisl. Integer vel tempor
                        est. Donec dignissim mauris quis eros iaculis, a tristique enim viverra. Donec quis tortor posuere, dapibus dolor at, malesuada lorem. Sed volutpat eget
                        urna nec varius.
                    </div>
                </div>
            </div>*@
        </div>

    </div>
    <div class="alert alert-info">
        <strong>Info!</strong>For any other questions you may have, we will respond personally to you in due course to the email address you have communicated.
    </div>
    <h3></h3>
</div>

