
@{
    ViewBag.Title = "SanRaffaelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row " style="margin-bottom:0px;">
        <div>
            <div class="col-md-3 ">
                <div class="inside" style="background-color:white;font-size:13px">
                    <div class="content">
                       
                        <a href="/Account/Login"> <img src="~/Content/images/sanraffaelle1.jpg" width="150" height="100" /><br>Hospitals<br><br></a> 
                 

                    </div>
                </div>
            </div>

            <div class="col-md-3 ">
                <div class="inside" style="background-color:white;font-size:13px">
                    <div class="content">

                        <a href="/Account/Login"> <img src="~/Content/images/sanraffaelle2.jpg" width="150" height="100" /><br>Find a Doctor<br><br></a>

                    </div>
                </div>
            </div>

            <div class="col-md-3 ">
                <div class="inside" style="background-color:white;font-size:13px">
                    <div class="content">

                        <a href="/Account/Login"> <img src="~/Content/images/sanraffaelle3.jpg" width="150" height="100" /><br>Speciality<br><br></a>

                    </div>
                </div>
            </div>

      
        </div>
    </div>
    <div class="row " style="margin-bottom:0px;">
        <div>
            <div class="col-md-3 ">
                <div class="inside" style="background-color:white;font-size:13px">
                    <div class="content">

                        <a href="/Account/Login"> <img src="~/Content/images/sanraffaelle4.jpg" width="150" height="100" /><br>Consultation Online<br><br></a>


                    </div>
                </div>
            </div>

            <div class="col-md-3 ">
                <div class="inside" style="background-color:white;font-size:13px">
                    <div class="content">

                        <a href="/Account/Login"> <img src="~/Content/images/sanraffaelle5.jpg" width="150" height="100" /><br>Plan Your Trip<br><br></a>

                    </div>
                </div>
            </div>

            <div class="col-md-3 ">
                <div class="inside" style="background-color:white;font-size:13px">
                    <div class="content">

                        <a href="/Account/Login"> <img src="~/Content/images/sanraffaelle6.jpg" width="150" height="100" /><br>FAQS<br><br></a>

                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="row " style="margin-bottom:0px;">
        <div>
            <div class="col-md-3 ">
                <div class="inside" style="background-color:white;font-size:13px">
                    <div class="content">

                        <a href="/Account/Login"> <img src="~/Content/images/sanraffaelle7.jpg" width="150" height="100" /><br>Visa facilitation<br><br></a>


                    </div>
                </div>
            </div>

            <div class="col-md-3 ">
                <div class="inside" style="background-color:white;font-size:13px">
                    <div class="content">

                        <a href="/Account/Login"> <img src="~/Content/images/sanraffaelle8.jpg" width="150" height="100" /><br>Testimonials<br><br></a>

                    </div>
                </div>
            </div>

            <div class="col-md-3 ">
                <div class="inside" style="background-color:white;font-size:13px">
                    <div class="content">

                        <a href="/Account/Login"> <img src="~/Content/images/sanraffaelle9.jpg" width="150" height="100" /><br>Insurance<br><br></a>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
