
@{
    ViewBag.Title = "No Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <div class="page-header">
        <h1>Sorry! <small>No results for your query could be found.</small></h1>
    </div>
    <p>Please try changing the term you searched for.</p>
</div>
